include MANIFEST.in
include README.rst
recursive-include leonardo_theme_kozlikovakoruna/static *
recursive-include leonardo_theme_kozlikovakoruna/locale *
recursive-include leonardo_theme_kozlikovakoruna/templates *
